/* Static color variables */
:root {
    --background-color: #121212;
    --primary-text-color: #ffffff;
    --secondary-text-color: #b3b3b3;
    --highlight-color: #ff5722;
    --card-background-color: #1e1e1e;
    --border-color: #333333;
    --dot-color: #ff5722;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.title-actions {
    display: flex;
    gap: 15px;
}

/* Back Button Styling */
#back-btn {
    background-color: var(--card-background-color);
    color: var(--primary-text-color);
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#back-btn:hover {
    background-color: #e64a19; /* Slightly darker shade of highlight color */
    transform: scale(1.1);
}

/* Video Screen Styling */
#video-screen {
    display: none;
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#video-screen.show {
    display: block;
    opacity: 1;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Use most of the viewport height */
    margin: 10px;
}

video {
    max-width: 80%;  /* Make the video responsive to the container width */
    max-height: 80%; /* Make the video responsive to the container height */
    width: auto;      /* Maintain aspect ratio */
    height: auto;     /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #000;
}


/* Home Screen Styling */
#home-screen {
    display: block;
    transition: opacity 0.2s ease-in-out;
}

::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

/* Scrollable List */
.scrollable-list {
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.scrollable-list::-webkit-scrollbar {
    width: 0px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}

/* Item Styling */
.item {
    display: flex;
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    gap: 15px;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.thumbnail {
    width: 160px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-title {
    font-size: 1.2em;
    margin: 0;
    color: var(--primary-text-color);
}

.creator-name {
    font-size: 0.9em;
    margin: 5px 0;
    color: var(--highlight-color);
}

.description {
    font-size: 0.8em;
    padding-right: 80px;
    color: var(--secondary-text-color);
    margin: 0;
    overflow-y: hidden;
}

.action {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
}

/* Trash Button Styling */
.trash-btn {
    fill: var(--highlight-color);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-btn:hover .trash-icon {
    filter: invert(80%);
    transform: scale(1.1);
}

.trash-icon {
    width: 35px;
    height: 35px;
    filter: invert(50%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.time {
    font-size: 0.8em;
    color: var(--secondary-text-color);
    margin-top: 4px;
}

.dot {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: var(--dot-color);
    border-radius: 50%;
}

/* Title Action Buttons */
.refresh-btn {
    background-color: var(--card-background-color);
    border: none;
    color: var(--primary-text-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.settings-btn {
    margin-right: 10px;
    background-color: var(--card-background-color);
    border: none;
    color: var(--primary-text-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}


.refresh-icon,
.gear-icon {
    filter: invert(70%);
}

.settings-btn:hover,
.refresh-btn:hover {
    transform: scale(1.1);
}

.refresh-btn:hover svg {
    transform: scale(1.1);
}

